<!-- <hr id="divitionBanner" /> -->

<ngcontainer [ngSwitch]="currentBreakpoint">
  <div class="container" *ngSwitchCase="Breakpoints.Large">
    <div>
      <h2 class="title">Ultimas noticias</h2>
      <hr class="yellowLine" />
      <div class="imgbigContainer"></div>
    </div>

    <div class="midSection">
      <div>
        <h2 class="title">Maestros</h2>
        <hr class="yellowLine" />
        <div class="imgContainer">a</div>
      </div>
      <div>
        <h2 class="title">Historia</h2>
        <hr class="yellowLine" />
        <div class="imgContainer">a</div>
      </div>
      <div id="clubesfaqSection">
        <h2 class="title">Nuestros clubes</h2>
        <hr class="yellowLine" />
        <div class="imgclubContainer">a</div>
        <div class="imgclubContainer">a</div>

        <!-- <h2 class="title">Preguntas frecuentes</h2>
        <hr class="yellowLine" />
        <div class="imgfaqContainer">a</div> -->
      </div>
    </div>
  </div>

  <div *ngSwitchCase="Breakpoints.Medium">
    <h1>MEDIANO</h1>
  </div>
  <div *ngSwitchCase="Breakpoints.XSmall">
    <h1>SHIQUITO</h1>
  </div>
</ngcontainer>
