<div class="timeline-wrapper clearfix">
  <div class="timeline-content-day">
      <div class="timeline-line"></div>
      <div class="timeline-content-item active" dara-timeline="1990">
          <span>1990</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>World Wide Web</span>
              </a>
          </div>
      </div>

      <div class="timeline-content-item" data-timeline="1999">
          <span>1999</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>Lorem Ipsum</span>
              </a>
          </div>
      </div>

      <div class="timeline-content-item" data-timeline="2000">
          <span>2000</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>Google AdWords</span>
              </a>
          </div>
      </div>

      <div class="timeline-content-item" data-timeline="hour-11">
          <span>2002</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>Lorem Ipsum</span>
              </a>
          </div>
      </div>

      <div class="timeline-content-item" data-timeline="hour-12">
          <span>2004</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>Lorem Ipsum</span>
              </a>
          </div>
      </div>

      <div class="timeline-content-item" data-timeline="hour-13">
          <span>2006</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>Lorem Ipsum</span>
              </a>
          </div>
      </div>

      <div class="timeline-content-item" data-timeline="hour-14">
          <span>2008</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>Lorem Ipsum</span>
              </a>
          </div>
      </div>

      <div class="timeline-content-item" data-timeline="hour-15">
          <span>2010</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>Lorem Ipsum</span>
              </a>
          </div>
      </div>

      <div class="timeline-content-item" data-timeline="hour-16">
          <span>2012</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>Lorem Ipsum</span>
              </a>
          </div>
      </div>

      <div class="timeline-content-item" data-timeline="hour-17">
          <span>2014</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>Lorem Ipsum</span>
              </a>
          </div>
      </div>

      <div class="timeline-content-item" data-timeline="hour-18">
          <span>2016</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>Lorem Ipsum</span>
              </a>
          </div>
      </div>

      <div class="timeline-content-item" data-timeline="hour-19">
          <span>2017</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>Lorem Ipsum</span>
              </a>
          </div>
      </div>

      <div class="timeline-content-item" data-timeline="hour-20">
          <span>2018</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>Lorem Ipsum</span>
              </a>
          </div>
      </div>

      <div class="timeline-content-item" data-timeline="hour-21">
          <span>2020</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>Lorem Ipsum</span>
              </a>
          </div>
      </div>

      <div class="timeline-content-item" data-timeline="hour-22">
          <span>2022</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>Lorem Ipsum</span>
              </a>
          </div>
      </div>

      <div class="timeline-content-item" data-timeline="hour-23">
          <span>2023</span>
          <div class="timeline-content-item-reveal">
              <a href="#">
                  <img src="https://picsum.photos/g/300/300">
                  <span>Lorem Ipsum</span>
              </a>
          </div>
      </div>
  </div>
</div>