<nav [class.isNavbarScrolled]="isNavbarScrolled">
  <div  id="nav" class="fixed-top navbar-expand-sm bg-dark">
    <ul class="navbar menu">
          <li class="nav">
            <a class="nav-link" href="#noticias">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#alumnos">Alumnos</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#maestros">Maestros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#general">General</a>
          </li>
      </ul>

  </div>
</nav>
