<nav class="fixed-top navbar-expand-lg" >

  <div [class.isNavbarScrolled]="isNavbarScrolled">
  <!--//menu del logo uni-->
    <div class="primario-menu">
      <a class="navbar-logo" href="https://www.unison.mx/">
        <img src="/assets/universidad.png" class="img-uni" >
      </a>    
      </div>  
  <!--menu de las pestanias de la pag-->
      <div class="navbar-menu">
       <!--<input type="checkbox"  class="openSidebarMenu" id="openSidebarMenu">--> 
          <label for="openSidebarMenu" class="sidebarIconToggle">
              <div class="spinner diagonal part-1"></div>
              <div class="spinner horizontal"></div>
              <div class="spinner diagonal part-2"></div>
          </label>

          <div id="sidebarMenu" class="navbar-menu">
              <li class="main-content-wrapper">
                <a class="nav-link active" href="#noticias">Noticias</a>  
                <a class="nav-link active" href="#alumnos">Alumnos</a>
                <a class="nav-link active" href="#maestros">Maestros</a>
                <a class="nav-link active" href="#general">General</a>
              </li>
            </div>   
        </div>
  <!--//menu del logo isi-->
    <div class="secundario-menu">
      <a class="navbar-logo" href="#home">
        <img src="/assets/isiisiisi.png" class="img-isi" >
      </a>
    </div>
  </div>
</nav>
