<nav id="navbar" >
  <div class="container-xl" [class.isNavbarScrolled]="isNavbarScrolled">
    <form class="nosubmit">
      <input class="nosubmit" type="search" placeholder="Buscar">
    </form>
      
   

    <div class="">
      <div  id="nav" class="fixed-top navbar-expand-lg bg-dark">
            <ul class="navbar menu">
                <li class="nav">
                  <a class="nav-link active" href="#noticias">Noticias</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#alumnos">Alumnos</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#maestros">Maestros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#general">General</a>
                </li>
            </ul>
            
      </div>  
    </div>  
      <a class="navbar-logo" href="https://www.unison.mx/">
        <div class="logo-uni">
              <img src="/assets/logouni.png" class="img-fluid">
        </div>
      </a>
  </div>
</nav>
